<%# app/views/users/account.html.erb %>
<div class="page-container">
  <%= render "settings_layout" do %>
    <h2>アカウント</h2>

    <!-- 編集ボタン -->
    <div class="profile-actions">
      <%= link_to "編集", edit_account_path, class: "btn-edit" %>
    </div>

    <!-- メールアドレス -->
    <div class="profile-row">
      <span class="label">メールアドレス</span>
      <span class="value"><%= @user.email %></span>
    </div>

    <!-- パスワード -->
    <div class="profile-row">
      <span class="label">パスワード</span>
      <span class="value">********</span>
    </div>

  <% end %>
</div>
